TRITON_URL=triton-speech-emotion-service.models-inference.svc.cluster.local:8000
MODEL_NAME=speech_emotion_recognition
MODEL_ID=firdhokk/speech-emotion-recognition-with-openai-whisper-large-v3
API_KEY=123
APP_VERSION=1.0.0

AUDIO_FORMATS=.wav,.mp3,.flac,.aac,.ogg,.opus,.m4a,.aiff,.amr,.wma
VIDEO_FORMATS=.mp4,.mkv,.webm,.avi,.mov,.mpg,.mpeg,.flv,.3gp,.ts,.f4v
# Optional: override directly instead of combining AUDIO_FORMATS + VIDEO_FORMATS
# SUPPORTED_FORMATS=.wav,.mp3,.mp4
