aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
attrs==25.4.0
brotli==1.2.0
cachetools==7.0.5
certifi==2026.2.25
charset-normalizer==3.4.5
click==8.3.1
fastapi==0.135.1
frozenlist==1.8.0
gevent==25.9.1
geventhttpclient==2.3.9
greenlet==3.3.2
grpcio==1.78.0
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.11
multidict==6.7.1
numpy==2.4.3
opencv-python==4.13.0.92
orjson==3.11.7
pandas==3.0.1
pillow==12.1.1
propcache==0.4.1
protobuf==7.34.0
pydantic==2.12.5
pydantic_core==2.41.5
pymilvus==2.6.9
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-rapidjson==1.23
PyYAML==6.0.3
requests==2.32.5
setuptools==82.0.1
six==1.17.0
starlette==0.52.1
tritonclient==2.66.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.41.0
uvloop==0.22.1
watchfiles==1.1.1
websockets==16.0
yarl==1.23.0
zope.event==6.1
zope.interface==8.2
